#topC, .jumboT {
    padding-top: .75em;
    margin-top: .75em;
}

.navd {
    padding-bottom: .75em;
}

footer p {
    float: right;
}

h1 {
    font-family: 'Playfair Display', serif;
}

.pTop {
    font-family: 'PT Serif', serif;
}

#topText {
    font-style: italic;
}

